env
node_modules
build
artifacts
.env
venv
keystore
address.txt
beta_new.txt
Python
env*
env_ganache_example
test
dependencies
migrations
requirements.txt
contracts/CalldataLogicUtils.sol
contracts/Migrations.sol
package-lock.json